@import 'LayoutConstants';
@import '@fontsource/roboto/400.css';

.manager-header {
  display: flex;
  width: 100%;
  align-items: center;
  height: $manager-header-height;
  border-bottom: 1px solid $manager-layout-border;

  .manager-header__logo-container {
    flex: 0 0  $manager-header-logo-container-width;
    display: flex;
    gap: 10px;

    align-items: center;
    cursor: pointer;

    .manager-header__logo-container__logo {
      flex: 0 0 auto;
      padding-left: 15px;
    }

    .manager-header__logo-container__text {
      color: $manager-primary;
      font-family: Roboto, serif;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .manager-header__menu-container {
    flex: 1 1 calc(100% - $manager-header-logo-container-width - $manager-header-info-container-width);
    align-items: center;
  }

  .manager-header__info-container {
    flex: 0 0  $manager-header-info-container-width;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
}